@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Main Section */
* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f2f5;
}

/* First section */
.firstsection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    max-width: 600px;
}

.logo {
    text-align: center;
}

.fb-logo {
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #ffffff;
    width: 90%;
    max-width: 410px;
    height: 95vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #b4b4b4;
    margin-left: auto;
    margin-right: auto;
}

.cna{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.qe{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(96, 103, 112);
    margin: 5px 0px;
}

.con-first ::before{
    content: '';
    top: 14%;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    background: #ccd0d54a
}

.con-second{
    display: flex;
    flex-direction: column;
    margin: 15px 0px 2px 0px;
}

.name{
    display: flex;
}

.name .sub-box{
    width: 16vw;
}

#f-name,
#s-name {
    font-family: "Roboto", sans-serif;
    height: 5vh;
    width: 86%;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    opacity: 0.9;
}

#email,
#password {
    font-family: "Roboto", sans-serif;
    height: 5vh;
    width: 90%;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 10px 10px 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    opacity: 0.9;
}

.con-second input[type="F-Name"],input[type="S-Name"],input[type="password"],input[type="email"]:focus{
    outline:none;
    border-color: transparent;
}

.con-third{
    margin-left: 12px;
}

.con-third .dob{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #606770;
}

.birth-box,.gender-box{
    display: flex;
    margin: 6px 0px;
    gap: 12px;
}

#birth_date,#birth_month,#birth_year {
    font-family: "Roboto", sans-serif;
    outline: none;
    border-color: #b4b4b4;
    border-radius: 4px;
    color: #1c1e21;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    height: 35px;
    width: 120px;
}

#gender-m,#gender-fm,#gender-cm{
    padding-top: 5px;
}

.female,.male,.custom{
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: space-around;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 5vh;
    width: 118px
}

.con-fourth-1st, .con-fourth-2nd {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #777;
    margin-left: 12px;
}

.con-fourth-1st{
    margin-top: 8px;
    margin-bottom: 10px;
}

.con-fourth-2nd{
    margin-top: 5px;
    margin-bottom: 20px;
}

.special {
    color: #385898;
}

.special:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-SU {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 6vh;
    width: 48%;
    color: #ffffff;
    background-color: #00a400;
    border-style: none;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 106px;
}

.btn-SU:hover {
    cursor: pointer;
    filter: invert(0.2);
    opacity: 0.8;
}

.al-acc {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: blue;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

.al-acc:hover {
    cursor: pointer;
    text-decoration: underline; 
}

/* Footer Section */
.last-section {
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px;
    padding: 20px 0;
}

/* Footer - Language Section */
.language {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-left: 114px;
}

.language li {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #385898;
    list-style: none;
    padding: 0px 6px;
}

.language li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.language li:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-decoration: none;
    cursor: default;
}

.language li button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    width: 35px;
    height: 20px;
    border-style: none;
    border-radius: 2px;
    background-color: #dde6ddb0;
    opacity: 0.7;
    padding-bottom: 26px;
}

.language li button:hover {
    cursor: pointer;
    filter: invert(0.05);
}

.language::after {
    background: #ccd0d5;
    content: '';
    height: 1px;
    position: absolute;
    top: 135%;
    width: 80%;
    margin: 0px 6px;
}

/* Footer - Text Section */
.text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 110px;
}

.text div {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #385898;
    list-style: none;
}

.text div li {
    padding: 3px 10px;
}

.text div li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Footer - T&C Section */
.TC {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8a8d91;
    text-align: start;
    margin-top: 20px;
    margin-left: 120px;
}
