@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Main Section */
* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f2f5;
}

/*nav section*/
nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #b4b4b4;
    gap: 44vw;
}

.login-cred {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo .icon {
    position: fixed;
    margin-top: -25px;
    width: 150px;
    height: 50px;
}

#email-nav,
#password-nav {
    font-family: "Roboto", sans-serif;
    height: 5vh;
    width: 14vw;
    font-size: 15px;
    color: black;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    opacity: 0.9;
}

#email-nav:hover,
#password-nav:hover {
    border-color: #000000;
}

#email-nav:focus,
#password-nav:focus {
    border-color: rgb(6, 9, 241);
    outline: none;
    opacity: 0.6;
}

#email-nav::placeholder,
#password-nav::placeholder {
    color: #000000;
    opacity: 0.8;
}

.btn-li {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 5vw;
    height: 7vh;
    background-color: #1877f2;
    color: #ffffff;
    border-style: none;
    border-radius: 8px;
}

.btn-li:hover {
    cursor: pointer;
    filter: invert(0.05);
}

.f-a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: blue;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
    text-decoration: none;
}

.f-a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*  Main Section */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #ffffff;
    width: 100%;
    max-width: 40vw;
    height: 48vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #b4b4b4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.head {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 18px;
}

.sub-head {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 18px;
}

.box {
    width: 88%;
    height: 10vh;
    margin-bottom: 10px;
    margin-left: 15px;
}

.container::before {
    content: '';
    top: 23%;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    background: #c6cacfc0;
}

.container::after {
    content: '';
    top: 77%;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    background: #c6cacfc0;
}

#email {
    font-family: "Roboto", sans-serif;
    height: 7vh;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    opacity: 0.9;
}

#email::placeholder {
    color: #000000;
    opacity: 0.9;
}

#email:focus {
    outline: none;
    opacity: 0.6;
}

.btn {
    display: flex;
    gap: 7px;
    margin-left: 24vw;
    margin-top: 22px;
}

.cancel {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 7vw;
    height: 6vh;
    background-color: #e4e6eb;
    color: #000000;
    opacity: 0.8;
    border-style: none;
    border-radius: 8px;
}

.cancel:hover {
    cursor: pointer;
}

.search {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 7vw;
    height: 6vh;
    background-color: #1877f2;
    color: #ffffff;
    border-style: none;
    border-radius: 8px;
}

.search:hover {
    cursor: pointer;
    filter: invert(0.05);
}

/* Footer Section */
.last-section {
    width: 100%;
    background-color: #ffffff;
    margin-top: 80px;
    padding: 20px 0;
}

/* Footer - Language Section */
.language {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: 114px;
}

.language li {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8a8d91;
    list-style: none;
    padding: 0px 6px;
}

.language li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.language li:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #232425;
    opacity: 0.8;
    text-decoration: none;
    cursor: default;
}

.language li button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    width: 30px;
    height: 22px;
    border-style: none;
    border-radius: 2px;
    background-color: #dde6ddb0;
    opacity: 0.7;
    padding-bottom: 20px;
}

.language li button:hover {
    cursor: pointer;
    filter: invert(0.05);
}

.language::after {
    background: #ccd0d5;
    content: '';
    height: 1px;
    position: absolute;
    top: 103%;
    width: 78%;
    margin: 0px 6px;
}

/* Footer - Text Section */
.text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 110px;
}

.text div {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8a8d91;
    list-style: none;
}

.text div li {
    padding: 3px 10px;
}

.text div li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text div li a {
    text-decoration: none;
    color: #8a8d91;
}

/* Footer - T&C Section */
.TC {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #232425;
    opacity: 0.8;
    text-align: start;
    margin-top: 20px;
    margin-left: 120px;
}
