@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Main Section */
* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f2f5;
}

/* First section */
.firstsection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    max-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #ffffff;
    width: 90%;
    max-width: 380px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #b4b4b4;
    margin-left: auto;
    margin-right: auto;
}

.log-in {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 18px 0;
    text-align: center;
}

.logo {
    text-align: center;
}

.fb-logo {
    width: 240px;
}

.box {
    width: 92%;
    height: 10vh;
    margin-bottom: 10px;
    margin-left: 7px;
}


#email,
#password {
    font-family: "Roboto", sans-serif;
    height: 7vh;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    opacity: 0.9;
}

#email:focus,
#password:focus {
    outline: 2px solid lightblue;
    border: 1px solid rgb(5, 8, 214);
    opacity: 0.6;
}

.btn-li {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 96%;
    height: 8vh;
    margin: 12px auto;
    background-color: #1877f2;
    color: #ffffff;
    border-style: none;
    border-radius: 8px;
}

.btn-li:hover {
    cursor: pointer;
    background-color: #0c6eee;
}

.f-a {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: blue;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

.f-a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sepr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #929292;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.sepr::before,
.sepr::after {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: #ccd0d5;
    vertical-align: middle;
    margin: 0 5px;
}

.btn-cna {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    width: 50%;
    color: #ffffff;
    background-color: #42b72a;
    border-style: none;
    border-radius: 6px;
    margin-left: 95px;
}

.btn-cna:hover {
    cursor: pointer;
    background-color: #2daa14;
}

.btn-cna a {
    text-decoration: none;
    color: #fff;
}

.para {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: 4vh;
}

.para a {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}

.para a:hover {
    text-decoration: underline;
}

/* Footer Section */
.last-section {
    width: 100%;
    background-color: #ffffff;
    margin-top: 80px;
    padding: 20px 0;
}

/* Footer - Language Section */
.language {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: 114px;
}

.language li {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8a8d91;
    list-style: none;
    padding: 0px 6px;
}

.language li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.language li:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #232425;
    opacity: 0.8;
    text-decoration: none;
    cursor: default;
}

.language li button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    width: 30px;
    height: 22px;
    border-style: none;
    border-radius: 2px;
    background-color: #dde6ddb0;
    opacity: 0.7;
    padding-bottom: 20px;
}

.language li button:hover {
    cursor: pointer;
    filter: invert(0.05);
}

.language::after {
    background: #ccd0d5;
    content: '';
    height: 1px;
    position: absolute;
    top: 129%;
    width: 78%;
    margin: 0px 6px;
}

/* Footer - Text Section */
.text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 110px;
}

.text div {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8a8d91;
    list-style: none;
}

.text div li {
    padding: 3px 10px;
}

.text div li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text div li a {
    text-decoration: none;
    color: #8a8d91;
}

/* Footer - T&C Section */
.TC {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #232425;
    opacity: 0.8;
    text-align: start;
    margin-top: 20px;
    margin-left: 120px;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    .firstsection {
        margin-top: 20px;
    }

    .container {
        width: 95%;
        padding: 20px;
        height: 50vh;
    }

    .log-in,
    .f-a {
        margin: 10px 0;
    }

    .btn-li {
        height: 8vh;
        margin: 0px auto;
    }

    .btn-cna {
        margin: 0px auto;
    }

    .last-section {
        height: 30vh;
    }

    .language,
    .text {
        padding: 10px;
    }

    .language li,
    .text div li {
        font-size: 12px;
    }

    .language::after {
        top: 84%;
    }

    .TC {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {

    .container {
        width: 80%;
    }

    .log-in,
    .f-a,
    .btn-li,
    .btn-cna {
        font-size: 16px;
    }

    .last-section {
        height: 30vh;
    }

    .last-section .language,
    .last-section .text {
        margin: auto;
    }

    .language::after {
        top: 85%;
    }

    .language li,
    .text div li {
        font-size: 12px;
    }

    .TC {
        margin-top: 0px;
        margin-left: -20px;
        text-align: center;
    }
}